.positionNavbarFix{
  position: fixed;
  width: 100%;
  z-index: 99999;
  top: 0; /* Sayfanın en üstüne sabitler */
  left: 0;
}

.logo_desktop {
  display: none;
}

.logo img {
  width: 69px;
  height: 53px;
  cursor: pointer;
}

.mobile_menu_list{
  align-items: center;
}

.menu_items {
  font-size: 12px;
  font-weight: 700;
  line-height: 22.99px;
  letter-spacing: 2px;
}

.menu_items:hover {
  color: #bea741;
}

.custom-nav-title {
  font-family: "Lato", system-ui;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
}

.dropdown-menu {
  --bs-dropdown-min-width: initial;
}

.dropdown-item {
  width: 30%;
  font-family: "Lato", system-ui;
  font-size: 12px;
  --bs-dropdown-min-width: initial;
}

.lang_mobile {
  display: none;
}

@media only screen and (max-width: 992px) {
  .logo_desktop {
    display: block;
  }

  .logo_mobile {
    display: none;
  }

  .mobile_version {
    flex-direction: column;
  }

  .mobile_menu_list .menu_items:hover {
    color: #bea741;
  }

  .mobile_menu_list {
    gap: 0 !important;
  }

  .dropdown-menu {
    --bs-dropdown-padding-y: 0;
  }

  .dropdown-divider {
    margin: 0;
  }
  .lang_mobile {
    display: block;
    height: 50px;
  }

  .dropdown-toggle {
    text-align: center;
  }

  .icon_mobile_version {
    flex-direction: row;
    justify-content: center;
    gap: 5px;
  }

  .lang_desc_version {
    display: none;
  }
}
