.meritBrandSlide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 84.9vh;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.meritBrandSlide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 84.9vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.wineAze{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 84.9vh;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}


.head_content {
  position: relative;
  z-index: 2;
}

.content_logo {
  width: 311.47px;
  height: 240px;
}

.content_logo img {
  width: 100%;
  height: 100%;
}

.content_text {
  font-family: Playfair Display;
  font-size: 32px;
  font-style: italic;
  font-weight: 400;
  line-height: 48px;
  width: 45%;
 
}

.content_text h1{
    font-style: italic;
}

.swiper-button-prev:after{
  color:#96948C ;
}

.swiper-button-next:after{
  color:#96948C ;
}

.swiper-button-prev {
  margin-left: 50px;
}

.swiper-button-next {
  margin-right: 50px;
}


.swiper-pagination .swiper-pagination-bullet{
  width: 70px;
  height: 3px;
  border-radius: inherit;
  background-color: #96948C;
}

.swiper-pagination .swiper-pagination-bullet-active{
background-color: #96948C;
}

@media only screen and (max-width: 992px) {
  .head_img::before {
    display: none;
    height: auto;
  }

  .content_logo {
    width: 158px;
    height: 122px;
  }

  .content_text{
    width: 80%;
  }

  .swiper-button-prev:after{
    color:transparent ;
  }
  
  .swiper-button-next:after{
    color:transparent ;
  }
  
}
