.about_sect_img {
  background-color: #000;
}

.about_sect_content {
  background-color: #131313;
  min-height: auto;
  height: 100%;
  width: 100% !important;
}
.about_section .about_sect_content .vodka_title_abt {
  font-family: Playfair Display;
  font-size: 41px;
  font-weight: 400;
  line-height: 54.65px;
  background: linear-gradient(-90deg, #ceac7a, #342814);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media (max-width: 991px) {
    .about_sect_content {
       min-height: 50vh;
        width: 100%;
        justify-content: center;
        padding: 50px 0;
    }

    .about_sect_content .vodka_text{
        width: 90%;
    }

}